POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=customer_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:password@postgres:5432/customer_db

FLASK_HOST=mock-server
FLASK_PORT=5000
FLASK_API_URL=http://mock-server:5000

FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000
